docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    withName: FASTQC {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
        cpus = 2
    }
    withName: MULTIQC {
        container = 'quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0'
    }
}
