docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    withName: FASTP         { container = 'quay.io/biocontainers/fastp:0.23.4--hadf994f_2' }
    withName: BWA_INDEX     { container = 'quay.io/biocontainers/bwa:0.7.17--he4a0461_11' }
    withName: BWA_MEM       { container = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:219b6c272b25e7e642ae3ff0bf0c5c81a5135ab4-0' }
    withName: MARKDUP       { container = 'quay.io/biocontainers/samtools:1.19--h50ea8bc_0' }
    withName: CALL_VARIANTS { container = 'quay.io/biocontainers/bcftools:1.19--h8b25389_0' }
}
